[flake8]
exclude = .git,__pycache__,venv,__init__.py, .venv, venv, env, .env, .mypy_cache, .pytest_cache, .tox, .nox, .git, .hg, .svn, .bzr, _build, buck-out, build, dist
max-line-length = 79
ignore =E203, E266, E501, W503