<form class="modal-content" style="background-color: #1b1d1e; color: #ececec">
    <div class="modal-header" style="background-color: #1b1d1e; color: #ececec">
        <h1 class="modal-title fs-5" id="eAddFileBillLabel">Modal title</h1>
    </div>
    <div class="modal-body">
        <div style="background-color: #1b1d1e; color: #ececec">
            <div class="alert alert-warning" role="alert">
              ATTENTION! This function is only available for residents of "ЖК ФАЙНА ТАУН"
            </div>
            <div class="mb-3" style="background-color: #1b1d1e; color: #ececec">
              <label for="formFile" class="form-label" style="background-color: #1b1d1e; color: #ececec">Choose file</label>
              <input class="form-control" type="file" id="formFile" style="background-color: #1b1d1e; color: #ececec">
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Download file</button>
        </div>
    </div>
</form>
