<form action="{% url 'bills:add_file_bill' building.slug %}" method="POST" enctype="multipart/form-data" class="modal-content" style="background-color: #1b1d1e; color: #ececec">
    {% csrf_token %}
    <div class="modal-header" style="background-color: #1b1d1e; color: #ececec">
        <h1 class="modal-title fs-5" id="eAddFileBillLabel">{{ building.name }}</h1>
    </div>
    <div class="modal-body">
        <div style="background-color: #1b1d1e; color: #ececec">
            <div class="alert alert-warning" role="alert">
                ATTENTION! This function is only available for residents of "ЖК ФАЙНА ТАУН"
            </div>
            <div class="mb-3" style="background-color: #1b1d1e; color: #ececec">
                <label for="formFile" class="form-label" style="background-color: #1b1d1e; color: #ececec">Choose
                    file</label>
                {{ file_form.file }}
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Download file</button>
        </div>
    </div>
</form>
