{% extends 'base.html' %}
{% load static %}


{% block title %}UBT{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex row justify-content-center" style="margin-top: 6rem">
            <div class="card border-light w-50"  style="background-color: #1b1d1e">
              <div class="card-header border-light" style="color: #ececec">
                Add building
              </div>
              <form action="{% url 'buildings:add_building' %}" method="post" class="card-body">
                  {% csrf_token %}
                  <div class="form-floating border-light mb-3" style="color: #ececec">
                      {{ form.name }}
                      <label for="floatingInput">Write name of building</label>
                  </div>
                  <div class="form-floating border-light mb-3" style="color: #ececec">
                      {{ form.address }}
                      <label for="floatingInput">Write building address</label>
                  </div>
                  <hr style="color: #ececec"/>
                  <p class="card-text" style="color: #ececec">You can write a description for your building</p>
                  <div class="mb-3" style="color: #ececec">
                      <label for="TextareaDescription" class="form-label">Example textarea</label>
                      {{ form.description }}
                  </div>
                  <div class="form-check border-light mb-3" style="color: #ececec">
                      {{ form.home_mark }}
                      <label class="form-check-label" for="flexCheckDefault">Home mark</label>
                  </div>
                  <h5 class="card-title" style="color: #ececec">Make sure you've written everything correct</h5>
                  <p class="card-text" style="color: #ececec">And don't worry, you'll be able to change anything in the settings.</p>
                  <button type="submit" class="btn btn-primary" style="color: #ececec">Add building</button>
              </form>
            </div>
        </div>
    </div>
{% endblock %}