{% extends 'base.html' %}
{% load date_filter %}
{% load static %}


{% block title %}Your building{% endblock %}
{% block head %} {% include 'charts/include/building_chart_script.html' %} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="d-flex row justify-content-center" style="margin-top: 6rem">
            <div style=" width: 500px">
                <div class="card border-light w-25 mb-3"
                     style="background-color: #1b1d1e; min-width: 480px;">
                    <div class="card-header border-light" style="color: #ececec">
                        <h5>{{ building.name }}
                            {% if building.home_mark is True %}
                                <span class="badge text-bg-info">Home</span>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="input-group mb-2">
                                <h6 style="color: #ececec">Address: {{ building.address }}</h6>
                            </div>
                            <div class="input-group mb-2">
                                <h6 style="color: #ececec">Remainder: every 18th day of the month</h6>
                            </div>
                            {% if not building.description == '' %}
                                    <div class="mb-2" style="background-color: #1b1d1e; color: #ececec;" >
                                    <h6 style="color: #ececec"> Description: {{ building.description }}</h6>
                                </div>
                            {% endif %}
                            <div class="input-group mb-2">
                                <h6 style="color: #ececec">Total loss: {{ total_sum }}</h6>
                            </div>
                            <div class="input-group mb-2">
                                <h6 style="color: #ececec">Total year loss: {{ total_sum }}</h6>
                            </div>
                            <div class="input-group mb-2">
                                <h6 style="color: #ececec">This month loss: {{ total_sum }}</h6>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBill">
                                Add new bill
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBillFile">
                                Add new bill as a file
                            </button>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#yearChart">
                                View year statistic
                            </button>
                            <button type="button" class="btn btn-primary">
                                Change category
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="alert border-primary" role="alert" style="background-color: #2d2a60">
                        <p class="text-primary">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-primary" role="alert" style="background-color: #5b1070">
                        <p class="text-primary">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-secondary" role="alert" style="background-color: #343434">
                      <p class="text-secondary">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-success" role="alert" style="background-color: #183d22">
                      <p class="text-success">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-success" role="alert" style="background-color: #072302">
                      <p class="text-success">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-danger" role="alert" style="background-color: #421717">
                      <p class="text-danger">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-danger" role="alert" style="background-color: #56135b">
                      <p class="text-danger">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-warning" role="alert" style="background-color: #705605">
                      <p class="text-warning">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-warning" role="alert" style="background-color: #623307">
                      <p class="text-warning">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-info" role="alert" style="background-color: #154d47">
                      <p class="text-info">A simple primary alert—check it out!</p>
                    </div>
                    <div class="alert border-light" role="alert" style="background-color: #777777">
                      <p class="text-light">A simple primary alert—check it out!</p>
                    </div>
                </div>
            </div>
            <div class="border-light w-50" style="background-color: #1b1d1e; min-width: 500px">
{#                {% include 'charts/building_chart.html' %}#}

                <div class="btn-group mb-3" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary">Sort by:</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {{ select_name }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'buildings:building' building.slug %}">All bills</a></li>
                            {% for bill_type in bill_types %}
                                <li><a class="dropdown-item" href="{% url 'buildings:bill_type' building.slug bill_type.slug %}">{{ bill_type }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% for bill in bills %}
                    {% with previous_date=bills|get_previous_date:forloop.counter0 %}
                        {% if not previous_date or bill.str_time != previous_date %}
                                <div class="d-flex justify-content-between mt-2" style="min-width: 480px; max-height: 30px ;">
                                        <p class="text-light ms-2">{{ bill.str_time }}</p>
                                </div>
                        {% endif %}
                    {% endwith %}
                    <div class="card text-{{ bill.name.bootstrap_color }} border-{{ bill.name.bootstrap_color }} mb-2"
                         style="min-width: 18rem; max-height: 50px ; background-color: {{ bill.name.color }};">
                        <div class="card-body text-{{ bill.name.bootstrap_color }} border-{{ bill.name.bootstrap_color }} d-flex justify-content-between">
                            <p>{{ bill.name }} <span
                                    class="badge text-bg-{{ bill.name.bootstrap_color }}">{{ bill.str_time }}</span></p>
                            <p class="text-{{ bill.name.bootstrap_color }}">{{ bill.bill_sum }} UAN</p>
                        </div>
                    </div>
                {% endfor %}
                {% if page_obj.has_other_pages %}
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" style="background-color: #1b1d1e; color: #ececec;"
                                                 href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                        {%  endif %}
                        {%  for p in paginator.page_range %}

                            {% if page_obj.number == p %}
                                <li class="page-item"><a class="page-link" style="background-color: #ececec; color: #1b1d1e;">{{ p }}</a></li>
                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page-item"><a class="page-link" style="background-color: #1b1d1e; color: #ececec;"
                                                 href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" style="background-color: #1b1d1e; color: #ececec;"
                                                 href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="addBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            {% include 'bills/add_bill.html' %}
        </div>
    </div>
    <div class="modal fade" id="addBillFile" tabindex="-1" aria-labelledby="AddFileBillLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            {% include 'bills/add_file_bill.html' %}
        </div>
    </div>
    <div class="modal fade" id="yearChart" tabindex="-1" aria-labelledby="yearChartLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            {% include 'bills/add_file_bill.html' %}
        </div>
    </div>
{% endblock %}