{% extends 'base.html'%}
{% load static %}


{% block title %}Login{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 6rem">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="max-width: 30rem; height: auto;">
              {{ form.non_field_errors }}
{#                <strong>Holy guacamole!</strong> You should check in on some of those fields below.#}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center align-items-top mt-5" style="height: 60vh;">
        <div class="card w-75 border-primary mb-3 col-4" style="max-width: 30rem; height: 17rem; background-color: #222049; color: #3563ff;">
            <div class="card-header bg-transparent border-primary">Sign in</div>
            <div class="card-body text-primary">
                <form action="{% url 'user:login' %}" method="post" class="text-end">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        {{ form.username }}
{#                        <input type="email" class="form-control border-primary" id="floatingInput" placeholder="name@example.com" style="background-color: #222049; color: #ececec;">#}
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        {{ form.password }}
{#                        <input type="password" class="form-control border-primary" id="floatingPassword" placeholder="Password" style="background-color: #222049; color: #ececec;">#}
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-flex row justify-content-between" style="margin: 0.9rem 0 0.9rem ">
                        <div class="d-flex form-check justify-content-start" style="max-width: 12rem; margin-top: 0.5rem">
                              <input class="form-check-input border-primary" type="checkbox" value="" id="flexCheckChecked" checked style="margin-right: 1rem; background-color: #222049;">
                              <label class="form-check-label" for="flexCheckChecked">
                                Stay signed in
                              </label>
                        </div>
                        <button type="submit" class="btn btn-primary" style="max-width: 9rem;">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}