{% extends 'base.html'%}
{% load static %}


{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 6rem">
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="max-width: 30rem; height: auto;">
          {{ form.errors}}
{#                <strong>Holy guacamole!</strong> You should check in on some of those fields below.#}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
        <div class="card w-75 border-success mb-3 text-success" style="max-width: 30rem; height: 25.2rem; background-color: #0b3817;">
            <div class="card-header bg-transparent border-success">Sign up</div>
            <div class="card-body text-primary">
                <form action="{% url 'user:login' %}" method="post" class="text-end">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        {{ form.username }}
{#                        <input type="text" class="form-control border-success" id="floatingInput" placeholder="username" style="background-color: #0b3817; color: #ececec;">#}
                        <label for="floatingInput" class="text-success">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.email }}
{#                        <input type="email" class="form-control border-success" id="floatingInput" placeholder="name@example.com" style="background-color: #0b3817; color: #ececec;">#}
                        <label for="floatingInput" class="text-success">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password1 }}
{#                        <input type="password" class="form-control border-success" id="floatingPassword" placeholder="Password" style="background-color: #0b3817; color: #ececec;">#}
                        <label for="floatingPassword" class="text-success">Password</label>
                    </div>
                    <div class="form-floating">
                        {{ form.password2 }}
{#                        <input type="password" class="form-control border-success" id="floatingPassword" placeholder="Password" style="background-color: #0b3817; color: #ececec;">#}
                        <label for="floatingPassword" class="text-success"> Repeat password</label>
                    </div>
                    <div class="d-flex row justify-content-between" style="margin: 0.9rem 0 0.9rem ">
                        <button type="submit" class="btn btn-success border-success" style="max-width: 12rem;">Login with Google</button>
                        <button type="submit" class="btn btn-success border-success" style="max-width: 9rem;">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}