<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link type="text/css" href="{% static '/bills/css/base.css' %}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-dark shadow-sm navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: #212121;">
        <div class="container-fluid d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="{% url 'bills:index' %}">UBT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'bills:index' %}">Home</a>
                    <a class="nav-link" href="#">Statistic</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled">Disabled</a>
                </div>
            </div>
            <div class="d-lg-block">
                <a href="{% url 'user:login' %}" class="btn btn-outline-primary me-2" type="button">Sign In</a>
                <a href="{% url 'user:register' %}" class="btn btn-outline-success" type="button">Sign Up</a>
            </div>
        </div>
    </nav>
</header>

{% block body %} {% endblock %}

<footer>

</footer>
</body>
</html>